{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section class="container sec1">
        <h1 class="text-center">- Mot de la presidente -</h1>
        <div class="first-section">
            <img class="img-fluid" src="https://www.fillmurray.com/300/200">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit sit eaque iusto sequi. Nulla facere hic ab vel mollitia reprehenderit sapiente commodi
            eos molestias tempora atque amet enim harum perferendis reiciendis magnam aliquam, doloribus perspiciatis fugiat nostrum molestiae sit laboriosam vero?
            Expedita necessitatibus inventore, distinctio, ad aliquid minus nemo voluptatum reprehenderit soluta quaerat excepturi consequuntur sed doloribus iure,
            tempore non totam adipisci nisi consectetur illo dicta ab nihil doloremque! Aut facere dolor blanditiis quas aliquid recusandae tempora veritatis numquam
            aliquam a, provident sint, corporis explicabo, ullam molestiae eum in culpa ipsa laborum odit minus enim libero quaerat. Laboriosam, repellendus quia.
             Expedita necessitatibus inventore, distinctio, ad aliquid minus nemo voluptatum reprehenderit soluta quaerat excepturi consequuntur sed doloribus iure,
            tempore non totam adipisci nisi consectetur illo dicta ab nihil doloremque! Aut facere dolor blanditiis quas aliquid recusandae tempora veritatis numquam
            aliquam a, provident sint, corporis explicabo, ullam molestiae eum in culpa ipsa laborum odit minus enim libero quaerat. Laboriosam, repellendus quia.</p>
        </div>
    </section>

   
    <section>
        <div class="containerr">
            {{ form_start(form) }}
            {{ form_widget(form.nom, {'attr':{'placeholder':'votre nom...'}}) }}
            {{ form_widget(form.prenom, {'attr':{'placeholder':'votre prenom...'}}) }}
            {{ form_widget(form.email, {'attr':{'placeholder':'votre email...'}}) }}
            {{ form_widget(form.sujet, {'attr':{'placeholder':'sujet...'}}) }}
            {{ form_widget(form.message, {'attr':{'placeholder':'votre message...'}}) }}
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}