{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section class="container sec1">
        <h1 class="text-center">- Mot de la presidente -</h1>
        <div class="first-section">
            <img class="img-fluid" src="https://www.fillmurray.com/300/200">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit sit eaque iusto sequi. Nulla facere hic ab vel mollitia reprehenderit sapiente commodi
            eos molestias tempora atque amet enim harum perferendis reiciendis magnam aliquam, doloribus perspiciatis fugiat nostrum molestiae sit laboriosam vero?
            Expedita necessitatibus inventore, distinctio, ad aliquid minus nemo voluptatum reprehenderit soluta quaerat excepturi consequuntur sed doloribus iure,
            tempore non totam adipisci nisi consectetur illo dicta ab nihil doloremque! Aut facere dolor blanditiis quas aliquid recusandae tempora veritatis numquam
            aliquam a, provident sint, corporis explicabo, ullam molestiae eum in culpa ipsa laborum odit minus enim libero quaerat. Laboriosam, repellendus quia.
             Expedita necessitatibus inventore, distinctio, ad aliquid minus nemo voluptatum reprehenderit soluta quaerat excepturi consequuntur sed doloribus iure,
            tempore non totam adipisci nisi consectetur illo dicta ab nihil doloremque! Aut facere dolor blanditiis quas aliquid recusandae tempora veritatis numquam
            aliquam a, provident sint, corporis explicabo, ullam molestiae eum in culpa ipsa laborum odit minus enim libero quaerat. Laboriosam, repellendus quia.</p>
        </div>
    </section>

   <section class="sec2">
    <div class="container">
        <div>
            <h2 class="text-center titresec2">Plus de 150 activités à découvrir</h2>
        </div>

        <div class="row">
            <div class="col-6">
                <p>Tournés autour de la convivialité, des rencontres, de la solidarité et du partage.</p>
                <p>Les clubs Sports pour Tous proposent la pratique de près de 150 activités différentes.</p>
                <p>Qu'importe votre niveau, on est là avant tout pour se faire plaisir !</P>
                <p>Parmis toutes ces activités proposées par les Clubs Sports pour Tous</p>
                <p>Trouvez celle qui correspond à vos envies, vos motivations...</p>
                <p>Alors, pour quelle(s) raison(s) souhaitez-vous pratiquer une activité physique ?</p>
            </div>

            <div class="col-6">
                <img src="images/uploads/2765.png" alt="" />
            </div>

            <div>
                <a href="" class="btn btn-secondary btn-ouline-info">S'entretenir</a>
                <a href="" class="btn btn-secondary btn-ouline-info">Se relaxer</a>
                <a href="" class="btn btn-secondary btn-ouline-info">Explorer</a>
                <a href="" class="btn btn-secondary btn-ouline-info">Se défouler</a>
                <a href="" class="btn btn-secondary btn-ouline-info">Jouer</a>
                <a href="" class="btn btn-secondary btn-ouline-info">S'exprimer</a>
            </div>

            </div>
        </div>
    </section> 

    <section class="container sec3">
        <div>
            <h2 class="text-center titresec2">Participez a de nombreux evenements</h2>
        </div>
        <div class="row">
            {% for event in events %}
                <div style="background: #444 url('../images/uploads/{{ event.imageName1 }}') no-repeat center; background-size: cover;" class="card col-3">
                    <div class="card-info">
                        <h3>{{ event.title }}</h3>
                        <h5>{{ event.lieu }}</h5>
                        <h6>{{ event.dateEvent|date('d-m-Y') }}</h6>

                        <div class="links">
                            <a href="../{{event.id}}/inscription/event/new">participer</a>
                            <a href="{{ path('event', {'id': event.id}) }}">plus</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
         <div class="text-center"><a href="/events">voir plus d'evenements...</a></div>
    </section>

    <section class="container sec4">
    <div class="containerr">
        <div class="text-center"><h1>Formulaire de contact</h1><p>Contactez nous pour des renseignements</p></div>
            {{ form_start(form) }}
            {{ form_widget(form.nom, {'attr':{'placeholder':'votre nom...'}}) }}
            {{ form_widget(form.prenom, {'attr':{'placeholder':'votre prenom...'}}) }}
            {{ form_widget(form.email, {'attr':{'placeholder':'votre email...'}}) }}
            {{ form_widget(form.sujet, {'attr':{'placeholder':'sujet...'}}) }}
            {{ form_widget(form.message, {'attr':{'placeholder':'votre message...'}}) }}
            {{ form_end(form) }}
    </div>
    </section>
</div>

<footer>


</footer>

{% endblock %}