{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

   

    <div class="containerr">
        {{ form_start(form) }}
        {{ form_widget(form.nom, {'attr':{'placeholder':'votre nom...'}}) }}
        {{ form_widget(form.prenom, {'attr':{'placeholder':'votre prenom...'}}) }}
        {{ form_widget(form.email, {'attr':{'placeholder':'votre email...'}}) }}
        {{ form_widget(form.sujet, {'attr':{'placeholder':'sujet...'}}) }}
        {{ form_widget(form.message, {'attr':{'placeholder':'votre message...'}}) }}
        {{ form_end(form) }}
    </div>

{% endblock %}