{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <a class="btn btn-primary" href="/assos/new">New Asso</a>
    <div class="row">
        <div class="col-6">
            {% for asso in asso %}
                <h5>Logo</h5> : {{ asso.logo }}
                <h5>Nom de l'association : </h5>{{ asso.nomAsso }}
                <h5>Adresse : </h5>{{ asso.adresseAsso }}
                <h5>Code postal : </h5>{{ asso.cpAsso }}
                <h5>Ville : </h5>{{ asso.villeAsso }}
                <h5>Numero de telephone : </h5>{{ asso.tel1Asso }}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
