{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <a class="btn btn-primary" href="/assos/new">New Asso</a>
    <div class="row">
        
            {% for asso in asso %}

                <div class="offset-1 col-4">
                    <div class="madiva">
                        <img class="image img-fluid" src="../images/uploads/{{ asso.imageName  }}">
                        <div class="text-center"> {% for publique in asso.publique %}
                        {{ publique }}
                        {% endfor %}
                        </div>
                        <div class="text-center">{{ asso.adresseAsso }} {{ asso.villeAsso }} {{ asso.cpAsso }}</div>
                        <div class="text-center">{{ asso.tel1Asso }}</div>
                        <div class="text-center">{{ asso.tel2Asso }}</div>
                        <a href="{{path('agasso', {'id': asso.id})}}" class="btn btn-primary">agasso</a>
                    </div>
                    
                </div>
            
            {% endfor %}
        
    </div>
</div>
{% endblock %}
