{% extends 'base.html.twig' %}

{% block title %}Hello AgassoController!{% endblock %}

{% block body %}
    <a href="/{{id}}/agasso/new" class="btn btn-primary">new</a>
    <div class="container">
        {% for agasso in agasso %}
            <img class="img-fluid" src="../images/uploads/{{ agasso.imageName }}">
            <h5>{{ agasso.dateAg|date('d-m-Y') }}</h5>
            <div>{{ agasso.association }}</div>
            <a href="{{ path('agassos', {'id': agasso.id}) }}">decouvrir</a>
        {% endfor %}
    </div>
    
{% endblock %}
