{% extends 'base.html.twig' %}

{% block title %}Hello AgassoController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form.ag,{'attr':{'placeholder':'ag'}}) }}
        {{ form_widget(form.imageFile) }}
        {{ form_widget(form.dateAg) }}
        <button type="submit">Ajouter</button>
     {{ form_end(form) }}
{% endblock %}