{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>
        {% if editMode %}
            Modifier l'Activité
        {% else %}
            Création d'une activité
        {% endif %}
    </h1>

    {{ form_start(form) }}

    {{ form_row(form.titleActivite, {'attr': {'placeholder': "Titre de l'activité"}}) }}
    {{ form_row(form.decriptActivite, {'attr': {'placeholder': "Description de l'activité"}}) }}
    {{ form_row(form.picActivite1, {'attr': {'placeholder': "Image de l'activité"}}) }}
    



    <button type="submit" class="btn btn-success">
        {% if editMode %}
            Enregistrer les modifications
        {% else %}
            Ajouter une Activité
        {% endif %}
    </button>

    {{ form_end(form) }}

{% endblock %}