{% extends 'base.html.twig' %}


{% block title %}Hello ActivitesController!{% endblock %}

{% block body %}

<!--<section class="activites">

    {% for activites in activites %} 
        <activite>
            <h2>{{ activites.titleActivite }}</h2>
            <div class="content">
                <img src="{{ activites.picActivite1 }}" alt="">
                <p>{{ activites.decriptActivite | raw }}</p>
                <a href="{{ path('activites_show', {'id': activites.id}) }}" class="btn btn-primary">lire la suite</a>
            </div>
        </activite>
    {% endfor %}
</section>-->

<section class="activites">
    {% for activites in activites %}
        <div class="container">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="{{ activites.picActivite1 }}" alt="Card image" style="width:100%">
                <div class="card-body">
                <h4 class="card-title">{{ activites.titleActivite }}</h4>
                <p class="card-text"><p>{{ activites.decriptActivite | raw }}</p></p>
                <a href="{{ path('activites_show', {'id': activites.id}) }}" class="btn btn-primary">Lire la suite</a>
                </div>
            </div>
            <br>
        </div>
    </activite>
    {% endfor %}
</section>

{% endblock %}
