{% extends 'base.html.twig' %}

{% block body %}
<section class="container">
    <div class="row">
            {% for event in events %}
                <div style="background: #444 url('../images/uploads/{{ event.imageName1 }}') no-repeat center; background-size: cover;" class="card col-3">
                    <div class="card-info">
                        <!--<img src="http://placehold.it/255x180"> -->
                        <h3>{{ event.title }}</h3>
                        <h5>{{ event.lieu }}</h5>
                        <h6>{{ event.dateEvent|date('d-m-Y') }}</h6>
                
                        <div class="links">
                            <a href="#">Repost</a>
                            <a href="#">Like</a>
                            <a href="#">woohoo</a>
                            <a href="{{ path('event', {'id': event.id}) }}">decouvrir</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
    <a class="btn btn-primary" href="/events/new">nouvel evenement</a>
</section> 
{% endblock %}
