{% extends 'base.html.twig' %}

{% block body %}
<section class="container">
    <div class="row">
            {% for event in events %}
                <div style="background: #444 url('../images/uploads/{{ event.imageName1 }}') no-repeat center; background-size: cover;" class="card col-3">
                    <div class="card-info">
                        <!--<img src="http://placehold.it/255x180"> -->
                        <h3>{{ event.title }}</h3>
                        <h5>{{ event.lieu }}</h5>
                        <h6>{{ event.dateEvent|date('d-m-Y') }}</h6>
                
                        <div class="links">
                            <a href="#">Repost</a>
                            <a href="#">Like</a>
                            <a href="../{{event.id}}/inscription/event/new">participer</a>
                            <a href="{{ path('event', {'id': event.id}) }}">plus</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
<<<<<<< HEAD
    <a class="btn btn-primary" href="admin/events/new">nouvel evenement</a>
=======
    <div class="pagination">
        {{ knp_pagination_render(events)}}
    </div>
    <a class="btn btn-primary" href="/events/new">nouvel evenement</a>
>>>>>>> 32314418b43a292ae8b2373f2decafd177e047f2
</section>
{% endblock %}
