{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">
        {% if editMode %}
            Mettre a jour contenu
        {% else %}
            Creation d'event
        {% endif %}
    </h1>

    <div class="containerr">
        {{ form_start(form) }}
        {{ form_widget(form.title,{'attr':{'placeholder':'titre'}}) }}
        {{ form_widget(form.lieu,{'attr':{'placeholder':'lieu'}}) }}
        {{ form_widget(form.dateEvent) }}
        {{ form_widget(form.picEvent1,{'attr':{'placeholder':'photo 1'}}) }}
        {{ form_widget(form.picEvent2,{'attr':{'placeholder':'photo 2'}}) }}
        {{ form_widget(form.picEvent3,{'attr':{'placeholder':'photo 3'}}) }}
        {{ form_widget(form.picEvent4,{'attr':{'placeholder':'photo 4'}}) }}
        {{ form_widget(form.participeOui,{'attr':{'placeholder':'oui'}}) }}
        {{ form_widget(form.participeNon,{'attr':{'placeholder':'non'}}) }}
        {{ form_widget(form.participePe,{'attr':{'placeholder':'peut etre'}}) }}
        {{ form_widget(form.descriptEvent,{'attr':{'placeholder':'decrivez l\'evenement'}}) }}
        <button type="submit">
            {% if editMode %}
                Modifier
            {% else %}
                Ajouter
            {% endif %}
        </button>
        {{ form_end(form) }}
        
    </div>
{% endblock %}